@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  background-color: #000;
  color: white;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  overflow: hidden;
  /* font-family: 'Inter', sans-serif; */
}
.mainSection::-webkit-scrollbar {
  background: transparent;
  width: 14px;
}

.mainSection::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
  z-index: 444;
}

.mainSection::-webkit-scrollbar-thumb {
  background-color: rgba(126, 125, 125, 0.438); /* color of the scroll thumb */
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 350px 1fr;
  grid-template-areas:
    'aside main main'
    'footer footer footer';
}

.textarea {
  background: --webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.3)),
      to(hsla(0, 0%, 100%, 0.3))
    )
    no-repeat 50%/1px 100%;
  background: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.3))
    no-repeat 50%/1px 100%;
  height: 100%;
  inset-inline-end: -4.5px;
  right: -4.5px;
  width: 9px;
  cursor: e-resize;
}
